.footer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  overflow: hidden;
  background: url('../images/footer_bg.jpg') no-repeat center center;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  margin-top: 5.5vw;
  color: #fff;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

  .flex_container{
    z-index: 10;
  }

  &-title{
    font-weight: 800;
    font-size: 36px;
    margin-top: 0;
  }

  &-info{
    padding-left: 50px;

    &-address{
      position: relative;
      font-size: 16px;
      line-height: 33px;
      font-style: normal;

      &:before{
        content: '';
        background: url('../images/location.svg') no-repeat center center;
        background-size: cover;
        width: 19px;
        height: 27px;
        position: absolute;
        left: -50px;
        top: 0;
      }
    }

    &-tel{
      position: relative;
      margin: 50px 0;

      a{
        display: block;
        font-weight: bold;
        font-size: 1.2vw;
        margin: 10px 0;
      }

      &:before{
        content: '';
        background: url('../images/tel.svg') no-repeat center center;
        background-size: cover;
        width: 21px;
        height: 23px;
        position: absolute;
        left: -50px;
        top: 0;
      }
    }

    &-mail{
      position: relative;
      font-size: 20px;
      border-bottom: 1px solid #fff;

      &:before{
        content: '';
        background: url('../images/mail.svg') no-repeat center center;
        background-size: cover;
        width: 21px;
        height: 16px;
        position: absolute;
        left: -50px;
        top: 5px;
      }
    }
  }

  &-span{
    margin-top: 100px; 
    display: block;
  }

    @media(max-width: $tablet) {
      .cf7sg-popup{
        margin: 0 auto 25px auto;
      }

      &-info{
        max-width: 320px;
        margin: 0 auto;

        &-tel a{
          font-size: 18px;
        }
      }
    }

    @media(max-width: 600px) {
      height: initial;
      min-height: initial;
      clip-path: none;
      padding: 50px 0;

      .cf7sg-popup{
        max-width: 100%;
        width: 100%;
      }

      &-span{
        margin-top: 50px;
      }


      input[type="submit"].wpcf7-form-control.wpcf7-submit{
        margin-top: 25px;
      }
    }
}