.header{
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  color: #fff;

  .flex_container{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .category-list,
  .language-list{
    display: flex;
    align-items: center;
  }

  .custom-logo{
    width: 170px;
    transition: width .3s ease;
  }

  &:after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, .6);
    opacity: 0;
    transition: opacity .3s ease;
  }

  // FIXED HEADER START
  &-fixed{
    &:after{
      opacity: 1;
      transition: opacity .3s ease;
    }

    .custom-logo{
      width: 110px;
      transition: width .3s ease;
    }

    .category-link{
      font-size: 16px;
      transition: font-size .3s ease;
    }

    .tel-link{
      font-size: 16px;
      transition: font-size .3s ease;
    }
  }
  // FIXED HEADER END
}

.category{
  &-item{
    margin: 0 20px;
  }

  &-link{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    transition: font-size .3s ease;

    &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      height: 3px;
      right: 100%;
      background: #3682F3;
      transition: right .3s ease;
    }

    &:hover{
      color: #fff;
      &:after{
        right: 0;
        transition: right .3s ease;
      }
    }
  }
}

.lang{
  &-list{
    display: flex;
    align-items: center;
  }

  &-item{
    margin: 0 5px;
  }
}

.tel{
  &-link{
    font-size: 1vw;
    display: block;
    margin: 10px 0;
    transition: font-size .3s ease;
  }
}